.dialog-text {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-text-fill: #183d2d;
}

.reply-label {
    -fx-padding: 12px;
    -fx-background-color: #d9ffe2;
    -fx-border-color: #97cfaa;
    -fx-border-width: 1px;
    -fx-background-radius: 14px 14px 14px 0;
    -fx-border-radius: 14px 14px 14px 0;
}

.command-row {
    -fx-padding: 9px 12px;
    -fx-background-color: #e2ede6;
    -fx-border-color: #809e8b;
    -fx-border-width: 0 0 0 3px;
}

.command-label,
.command-prompt {
    -fx-font-family: "monospace";
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-text-fill: #344e40;
}

.command-prompt {
    -fx-font-weight: bold;
    -fx-text-fill: #276743;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
}
